body{
    height: 100vh;
    background-image: linear-gradient(185deg, #fa00ff 0, #b801ff 25%, #6d10f8 50%, #0013d4 75%, #0015b4 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.quadrado1{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5,0.9);
    box-shadow: 5px 5px 90px rgba(0, 0, 0, .7) ;
    border-radius: 10px;
    letter-spacing: 3px;
}

input{
    border: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    width: 90px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    color: #6d10f8;
}
h1{
    font-size: 60px;
    margin: 20px;
    margin-bottom: auto;
}